.env
backend/.env
data.db
/archive
jeo/master_season1-35.tsv
jeo/JEOPARDY_CSV.csv
stable/data/embeddings.jsonl
/stable/data
/transformed/data
/source/data
guess.json
preprocessing/data
preprocessing/.scala-build
preprocessing/.bsp
.scala-build
.metals
preprocessing/wiki
.bsp
backend/data_no_chunks.db
backend/.venv
testing
backend/__pycache__
node_modules
.vscode
backend/test_embed.ipynb
preprocessing/blacklist.txt
backend/data.db-shm
backend/data.db-wal
