html, body {
    /* height: 100%; */
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #EFEFEF;
}

header {
    border: 1px solid black;
    font-size: x-large;
    padding-left: 10px;
}

footer {
    border: 1px solid black;
}

.panelWrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    min-height: 0; 
}

.rightPanel {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.leftPanel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    border: 1px solid black;
}

#canvas {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.suggestionContainer {
    display: flex;
    flex-direction: column;
}

.guessContainer {
    max-height: 100px;
    overflow-y: scroll;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guessWrapper {
    display: flex;
    flex-direction: column;
}

.suggestionCard {
    min-height: 15px;
    min-width: 200px;
    border: 1px solid black;
    border-radius: 3px;
}

.guessCard {
    min-height: 15px;
    min-width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
}

.cluster {
    border-radius: 20px;
    margin: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.cluster-popup {
    visibility: hidden;
    background-color: red;
}

.cluster-popup:hover {
    visibility: visible;
}