:root {
    --accent: rgb(179, 167, 254);
    --light-full: rgb(243, 234, 234);
    --dark-full: rgb(18, 18, 18);
    --light-mid: rgb(228, 228, 222);
    --dark-mid: rgb(90, 89, 78);
    --one: rgb(32, 74, 150, .2);
    --two: rgb(0, 180, 255, .2); 
    --three: rgb(250, 150, 40, .2);
    --four: rgb(255, 120, 0, .2);
    --five: rgba(230, 0, 0, .2);
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--light-full);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    align-items: end;
    margin-bottom: 5px;
    padding: 10px;
}

footer {
    min-height: 30px;
}

p {
    font-size: medium;
    margin: 0px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;

}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

.mainPanel {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 5px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 0;
}

.noSelect {
    /* Standard */
    user-select: none;

    /* WebKit (Safari, Chrome, Edge) */
    -webkit-user-select: none;

    /* Firefox */
    -moz-user-select: none;

    /* IE/Edge Legacy */
    -ms-user-select: none;
}

/* SUB HEADER */

.subHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.scoreBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.guessCountBox {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

/* GUESS FEATURE BOX */

.guessFeatureArticle {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-mid);
    border-radius: 5px;
    padding: 7px;
    gap: 3px;
    min-height: 0;
}

.guessFeatureBoxContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-height: 0;
    flex: 1 1 auto; 
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-mid) transparent;
}

.guessFeatureBox {
    color: rgb(18, 18, 18);
    border-radius: 10px;
    padding: 20px;
    border: 3px solid var(--dark-mid);
    background-color: var(--light-mid);
    user-select: none;
}

.skeletonGuessFeatureBox {
    border-radius: 10px;
    padding: 20px;
    border: 3px solid var(--dark-mid);
    background-color: var(--dark-mid);
    user-select: none;
    animation: loadingBox .5s linear infinite alternate;
    min-height: 150px;
}

@keyframes loadingBox {
    from {opacity: 5%;}
    to {opacity: 30%;}
}

.guessFeatureArticleHeader {
    margin-bottom: 5px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
    width: 100%; 
    padding: 10px;
}

.guessFeatureTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guessFeatureArticleTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.guessFeatureArticleTitle:hover {
    text-decoration: underline;
}

.guessImage {
    max-height: 200px;
    height: 200px;
}

.guessImageLoaded {
    border: 1px solid var(--dark-full);
    border-radius: 5px;
    /* object-fit: cover; */
    /* width: 100%; */
}

.distanceBox {
    padding: 2px;
    border-radius: 1px;
    border: 1px solid var(--bright);
}

/* TOP GUESSES */

.topGuesses {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    border: 1px solid var(--dark-mid);
    border-radius: 5px;
    padding: 7px;
    gap: 10px;
}

.topGuessesBox {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--light-mid);
    border: 1px solid var(--dark-full);
    user-select: none;
}

.topGuessesBox:hover {
    opacity: 75%;
}

.topGuessesBoxHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topGuessesBoxButton {
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 3px;
    padding-right: 6px;
    padding-left: 6px;
}

.topGuessesContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 0;
    flex: 1 1 auto; 
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-mid) transparent;
}

.topGuessesArticleHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    user-select: none;
}

.topGuessesArticleSubHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    width: 100%;
}

.topGuessesArticleSubHeaderSmall {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
}

.chunksButton {
    width: 100%;
}

.keywordsButton {
    width: 100%;
}

/* TOP KEYWORDS */

.topKeywordsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--light-mid);
    border: 1px solid var(--dark-full);
    user-select: none;
    font-weight: bold;
}

/* INPUT FORM */

.inputBox {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.suggestionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    min-height: 43px;
}

.suggestionWrapper {
    align-items: stretch;
}

.suggestionCard {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid var(--dark-mid);
    border-radius: 3px;
    text-align: center;
    background-color: var(--light-mid);
    padding: 5px;
    font-size: small;
}

.suggestionCard:hover {
    opacity: 75%;
}

.topSuggestionCard {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    border: 1px solid var(--dark-mid);
    border-radius: 3px;
    background-color: var(--light-mid);
    padding: 5px;
    min-height: 28px;
}

.topSuggestionCard:hover {
    opacity: 75%;
}

.topSuggestionBox {
    width: 100%;
}

.boxHighlighted {
    background-color: var(--dark-mid);
    color: var(--light-full);
}

.formContainer {
    margin-top: 5px;
}

.form-input {
    width: 100%;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    outline: none;
    box-shadow: var(--dark-full);
    border-radius: 3px;
    border: 2px solid var(--dark-full);
    background-color: var(--light-full);
}
